<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.maciejak.myplaces">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyPlacesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/myplaces_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/myplaces_launcher"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.maciejak.myplaces.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.activity.AddPlaceOnMapActivity"/>
        <activity
            android:name=".ui.activity.AddPlaceActivity"
            android:label="@string/title_activity_favourite_place_form_add"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".ui.activity.ShowPlaceActivity"/>
        <activity
            android:name=".ui.activity.EditPlaceActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/LoginTheme">
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/LoginTheme">
        </activity>
        <activity android:name=".ui.activity.SettingsActivity">
        </activity>
    </application>

</manifest>